div.title{
    width:1200px;
    height:100px;
    background-color: cyan;
    text-align: left;
    font-size: 40px;
    font-family: "Impact";
    border: 3px solid black;
     margin-bottom: 20px;
}



div.menuitem{
    display:inline-block;
    vertical-align: top;
    width:1000px;
    height:320px;
    background-color:antiquewhite;
    color:darkred;
    text-align: center;
    font-size: 0px;
    margin-bottom: 20px;
    
}
div.menuitem1{
    vertical-align: top;
    display: inline-block;
    width:1000px;
    height:320px;
    background-color: aqua;
    font-size: 20px;
    text-align: left;

    }

div.menu1{
    width:1000px;
    height:250px;
　　font-size:20px;
    text-align: left;
    background-color: black;
    border:5px solid black;
    margin-bottom: 10px;
}
div.menu2{
    width:1000px;
    height:250px;
    background-color: white;
    border:5px solid black;
    margin-bottom: 10px;
}




div.menu{
    font-size: 0;
    width: 1000px;
    margin-top: 20px;
}
div.images{
    font-size: 0;
    width: 1000p;
}
body{
    background-image: url(../images/OIP2.jpeg);
    background-attachment: fixed;
}