
h1{font-size:30px;
    font-weight: 200;
    font-family: "Impact";
    text-align: center;
    background-color: azure;
color: brown;}
p{font-size: 25px;
text-align: center;
font-family: "Impact";
background-color:aquamarine;
color: darkblue;}



h2{
font-size: 25px;
background-color: beige;
text-align: center;}

h1#a{text-align: center;
    font-weight: 200
font-size: 50xp;
background-color: deepskyblue;
color: forestgreen;}

body{
    background-image: url(../images/1%E7%94%BB%E5%83%8F%E8%83%8C%E6%99%AF.jpeg);
    background-attachment: fixed;
}